# Dependências
node_modules/

# Build
dist/
build/

# Ambiente
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Cobertura de testes
coverage/
